body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header,
.hero-main,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.link a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-main {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 25%;
}
.image-placeholder {
  width: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  background-color: rgba(198, 194, 194, 0.6);
}

.hero-information {
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: space-around;
}

.title > h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.text {
  margin: 1rem 0;
  color: #e5e7eb;
  font-size: 18px;
}

.signup {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  padding: 0.5rem 1.5rem;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0.5rem;
}

* {
  outline: 1px solid teal;
}
